/*-- Stylesheet for SESOP --*/
.navcontainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-- Navbar Styling --*/
.navbar {
  padding-top: 20px;
  padding-bottom: 25px;
  z-index: 3;
  margin: 0px;
  transition: all 0.4s;
  border-bottom: 1px solid orange;
}
.navbar-toggle .icon-bar {
  color: gray;
  border: 1px solid gray;
}
.navbar-logo {
  width: 150px;
  margin-top: -15px;
  margin-left: 70px;
}
.navbar-right {
  padding-right: 70px;
}
.navbar a { 
  text-decoration: none;
  color: black;
  font-family: "Avenir Next";
  font-size: 15px;
  font-weight: 130;
  text-transform: uppercase;
}
.navbar.nav-white {
  background-color: white;
  border-bottom: 1pt solid #ddd;
}
ul.nav a:hover { background-color: #f7832a; color: white !important; }

/*-- Landing --*/
/*img { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('https://layovertolife.files.wordpress.com/2013/04/wp_20130328_03_55_04_cinemagraph.gif') no-repeat;
  transition: 1s opacity;
  background-size: cover;
}*/
.landing {
  padding-top: 2px;
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), url(images/windfarm.jpg) no-repeat center center;
  background-size: cover;
}
.landing-logo {
  width: 100px;
}
.landing h1 {
  font-size: 3rem;
  font-family: "Avenir Next";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3rem;
  color: white;
  font-weight: 100;
  margin: 260px 130px 0px 130px;
  padding: 10px;
  border-top: 1px solid white;
}
.landing p {
  font-size: 3rem;
  font-family: "Avenir Next";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3rem;
  color: white;
  margin: 0px 130px 0px 130px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

/*-- About --*/
.logo {
  padding: 100px 0 45px 0;
  text-align: center;
  width: 25%;
  height: 35%;
  display: block;
  margin: 0 auto;
}
.aboutSESOP {
  height: 100vh;
  font-family: "Avenir Next";
  font-size: 20px;
  margin: 0px 120px 0px 120px;
}

/*-- Energy Sector --*/
.energsector {
  height: 100vh;
}

.ESInfo {
  font-family: "Avenir Next";
  font-size: 17px;
}

.pull-left {
  height: 50%;
  width: 50%;
  margin-right: 10px;
}

.pull-right {
  margin-left: 10px;
}

/*-- Gallery --*/
.gallery img {
  height: 50%;
  width: 50%;
  margin: 0px auto;
}


/*-- Footer --*/
footer {
  width: 100%;
  text-align: center;
  font-family: "Avenir Next";
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  background-color: #444444;
}

footer .footerlogo {
  width: 50%;
  height: 50%;
  padding-bottom: 10px;
}

.col-md-4 h5 {
  color: #e3e6ea;
}

.col-md-4 p {
  color: #a1a4a8;
}

.col-md-4 a {
  color: #e3e6ea;
  text-decoration: none;
}
a:hover 
{
     color:orange; 
     text-decoration:none; 
     cursor:pointer;  
}

footer .copyright {
  color: #a1a4a8;
}

