<!--Nav bar-->
<header class="navbar navbar-fixed-top nav-white">
	<div class="navcontainer">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand scroll-top" href="#/">
				<img class="navbar-logo" alt="Brand" src="/images/logo.png">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="gotoElement('about')">About</a></li>
				<li><a ng-click="gotoElement('energysector')">Energy Sector</a></li>
				<li><a ng-click="gotoElement('gallery')">Gallery</a></li>
				<li><a ng-click="gotoElement('contact')">Contact</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</header>
<!-- End of Nav bar-->

<!-- Landing -->
<div class="landing">	

	<h1>Secondary Energy <img class=landing-logo src="/images/logoimage.png"> </h1>
	<p>Special Opportunities Partnership</p>
	
</div>

<!-- About -->
<div class="container">
	<div class="row">
		<div id="about" class="aboutRow">
			<div class="col-md-12">
				<img class="logo" src="/images/fulllogo.png">
			</div>
		</div>
		<div class="row">
			<div class="aboutSESOP">
				<p>The Secondary Energy Special Opportunities Partnership (SESOP) has been established to make equity and equity related investments in two areas of the alternative energy value chain in South Africa, namely solar and wind power.  With the dynamics of the energy sector  changing rapidly over the past few years, this has led to amazing opportunities in the alternative energy space.</p>
				
				<p>The Partnership has a strong, agile and well-balanced team consisting of seasoned executives, industry experts and investment professionals, with a combined career spanning over 140 years. Over time, the Partnership expects to bolster its team further.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Energy Sector -->
<div class="container">
	<div class="row">
		<div id="energysector">
			<h1>Energy Sector</h1>
		</div>
		<div class="ESInfo">
			<img src="/images/global_solar_radiation.png" class="pull-left">
				<h2>Power Supply vs Demand</h2>
				<p>The South African Electricity Sector has been receiving significant attention over the past several years due to continued blackouts. Local demand for electricity has grown rapidly over the past few years in South Africa and continues to do so. This demand has been spurred on by economic and population growth, which have out grown the growth rate of electricity supply. The State-owned electricity generator and supplier, Eskom, currently generates around 95% of the country’s electricity, just over 41,000 MW. However, projections suggest that by 2025 this needs to reach 80,000 MW. With energy supply constantly under pressure and blackouts expected to continue into 2015, there is an urgent need for change in the energy sector. </p>

				<p>The Integrated Resources Plan (IPR) was finalised in March 2011, with the intention of creating an additional 52,248MW of new power producing capacity. The introduction of Independent Power Producers (IPP) has been included to meet long term demand for electricity in South Africa. This has created opportunities for private investors to get involved in the alternative energy space.</p>
	
			<img src="/images/TeApiti-Windfarm1.jpg" class="pull-right">
				<h2> Renewable Energy Potential</h2>
				<p>South Africa has huge potential for renewable energy, especially in wind and solar. This potential, along with the need to reduce carbon emissions (ranked as the 11th largest emitter of carbon in the world), has motivated the launch of the Renewable Energy Independent Power Procurement Programme (REIPPP). This plan calls for a restricting of South Africa's energy mix, with 33% of all new build capacity in Renewable energy. This change in the energy mix within South Africa has led to exciting new investment opportunities, which SESOP is positioned well to take advantage.</p>
		</div>
		</div>
	</div>
</div>

<!-- Gallery -->
<div class="container">
	<div class="row">
		<div id="gallery">
			<h1>Gallery</h1>
		</div>

	<!-- 	<div class="gallery">
			<img class="mySlides" alt="" src="/images/IMG_2088.jpg">
			<img class="mySlides" alt="" src="/images/IMG_8626.jpg">
			<img class="mySlides" alt="" src="/images/IMG_8640.jpg">
		</div> -->
		
	</div>
</div>


