<!--Nav bar-->
<header class="navbar navbar-fixed-top nav-white">
	<div class="navcontainer">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand scroll-top" href="#/">
				<img class="navbar-logo" alt="Brand" src="/images/logo.png">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="gotoElement('about')">About</a></li>
				<li><a ng-click="gotoElement('energysector')">Energy Sector</a></li>
				<li><a ng-click="gotoElement('space')">Gallery</a></li>
				<li><a ng-click="gotoElement('contact')">Contact</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</header>
<!-- End of Nav bar-->

<!-- Landing -->
<div class="landing">
	<video poster="https://layovertolife.files.wordpress.com/2013/04/wp_20130328_03_55_04_cinemagraph.gif" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
	<source src="https://layovertolife.files.wordpress.com/2013/04/wp_20130328_03_55_04_cinemagraph.gif" type="video/webm">
	</video>

	<h1>Secondary Energy <img class=landing-logo src="/images/logoimage.png"> </h1>
	<p>Special Opportunities Partnership</p>
	
</div>