<!--Nav bar-->
<header class="navbar navbar-fixed-top nav-white">
	<div class="navcontainer">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand scroll-top" href="#/">
				<img class="navbar-logo" alt="Brand" src="/images/logo.png">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="gotoElement('about')">About</a></li>
				<li><a ng-click="gotoElement('energysector')">Energy Sector</a></li>
				<li><a ng-click="gotoElement('space')">Gallery</a></li>
				<li><a ng-click="gotoElement('contact')">Contact</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</header>
<!-- End of Nav bar-->

<!-- Landing -->
<div class="landing">	

	<h1>Secondary Energy <img class=landing-logo src="/images/logoimage.png"> </h1>
	<p>Special Opportunities Partnership</p>
	
</div>

<!-- About -->
<div class="container">
	<div class="row">
		<div id="about" class="aboutRow">
			<div class="col-md-12">
				<img class="logo" src="/images/fulllogo.png">
			</div>
		</div>
		<div class="row">
			<div class="aboutSESOP">
				<p>The Secondary Energy Special Opportunities Partnership (SESOP) has been established to make equity and equity related investments in two areas of the alternative energy value chain in South Africa, namely solar and wind power.  With the dynamics of the energy sector  changing rapidly over the past few years, this has led to amazing opportunities in the alternative energy space.</p>
				
				<p>The Partnership has a strong, agile and well-balanced team consisting of seasoned executives, industry experts and investment professionals, with a combined career spanning over 140 years. Over time, the Partnership expects to bolster its team further.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Energy Sector -->
<div class="container">
	<div class="row">
		<div id="energysector" class="energysectorSESOP">
			<h1>Energy Sector</h1>
		</div>
	</div>
</div>